.blurb {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    font-size: 6vw;
    color: white;
    height: 100px;
    line-height: 100px;
    padding: 5vw;
}

.about-me {
    position: relative;
    background-color: #595959;
    padding: 2vw;
    max-width: 50%;
    color: white;
    text-align: justify;
    font-size: 2vw;
    float: left;
}

.image {
    background-image: url('../../resources/no-image.png');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    max-width: 100%;
}