.navbar {
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: white;
    overflow-x: hidden;
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 1.5vw 1.5vw;
    text-decoration: none;
    width: 10vw;
    color: gray;
}

.navbar a:hover {
    background-color: #dddddd;
    color: black;
}



