.skills {
    color: white;
    position: relative;
    top: 6vw;
    padding: 3vw;
    font-size: 3vw;
}

.skills ul {
    margin: 0.5vw;
    overflow: hidden;
    column-count: 2;
    column-gap: 3vw;
}

.skills li {
    width: 50%;
    color: white;
    font-size: 1.2vw;
    padding: 0.5vw;
    float: left;
}

.default-bullet {
    
}