.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 0;
    border: 0;
}

.navitem {
    color: #888888;
    display: block;
    padding: 20px;
}

div[class^='navitem']:hover {
    background-color: #dddddd;
    cursor: pointer;
    color: black;
}



