.blurb {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    font-size: 6vw;
    color: white;
    height: 100px;
    line-height: 100px;
    padding: 5vw;
    top: 4vw;
}

.image {
    background-image: url('../../resources/no-image.png');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    max-width: 100%;
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}
